@model AddContactForm

<table class="table">
    <tr class="d-flex">
        <td class="col-4">
            <div class="form-floating" style="margin-bottom: 10px;">
                <input class="form-control" id="floatingTitle" placeholder="Title" asp-for="Title" hydro-bind/>
                <label for="floatingTitle">Title</label>
                <span class="invalid-feedback" style="display: inline" asp-validation-for="Title"></span>
            </div>
        </td>
        <td class="col-4">
            <div class="form-floating" style="margin-bottom: 10px;">
                <input class="form-control" id="floatingFirstName" placeholder="First name" asp-for="FirstName" hydro-bind/>
                <label for="floatingFirstName">First name</label>
                <span class="invalid-feedback" style="display: inline" asp-validation-for="FirstName"></span>
            </div>
        </td>
        <td class="col-4">
            <div class="form-floating" style="margin-bottom: 10px;">
                <input class="form-control" id="floatingLastName" placeholder="Last name" asp-for="LastName" hydro-bind/>
                <label for="floatingFirstName">Last name</label>
                <span class="invalid-feedback" style="display: inline" asp-validation-for="LastName"></span>
            </div>
        </td>
    </tr>
    <tr class="d-flex">
        <td colspan="3">
            <button class="btn btn-primary" style="margin-top: 10px;" type="submit" hydro-on:click="@(() => Model.Submit())">Add</button>    
        </td>
    </tr>
</table>