@model ContactsList
<div>
@if (Model.Contacts is { Count: > 0 })
{
    <table class="table">
        <thead>
            <tr class="d-flex">
                <th class="col-4 pb-4">Title</th>
                <th class="col-4 pb-4">First name</th>
                <th class="col-4 pb-4">Last name</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var contact in Model.Contacts)
        {
            <tr class="d-flex">
                <td class="col-4 pb-4">@contact.Title</td>
                <td class="col-4 pb-4">@contact.FirstName</td>
                <td class="col-4 pb-4">@contact.LastName</td>
            </tr>
        }
        </tbody>
    </table>
}
</div>